[data-md-color-scheme="pybee"] {
    --md-primary-fg-color: #ffdd00;
    --md-primary-fg-color--light: #000000;
    --md-primary-fg-color--dark: #90030C;
    --md-primary-bg-color: #000000;

    --md-accent-fg-color: #723500;
    --md-typeset-a-color: var(--md-accent-fg-color);

    --md-typeset-color: #000000;

    --md-code-bg-color: rgb(255, 251, 225);
}